h3 {
	color:gray;
    font-family: 'Patua One';
	text-align: center;
	font-size: 30px;
	margin: auto;
	width:30%;
	text-align:center;	
	 margin-top:-10px;

}

label.error,
.required {
    font-size: 14px;
    color: red;
}
.form-controls {
    clear: both;
}

.previous-fieldset {
	display: none;
	float: left;
}
.next-fieldset {
	float: right;
},
a.next-fieldset,
a.previous-fieldset {
	color: #ccc;
}

.clear {
	clear: both;
}
.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Next and previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
   color: rgba(93,84,240,0.5);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {

  cursor: pointer;
  height: 35px;
  width: 130px;
  margin: 0 2px;
  background-color: rgba(93,84,240,0.5);background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));;;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.16s ease;
  color:white;
}

.active, .dot:hover {
  background-color: #717171;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}