#nav{list-style:none;margin: 0px;padding: 0px;}
#nav li {
float: left;
margin-right: 40px;
font-size: 14px;
font-weight:bold;
  text-align: left;
  padding: 10px;
  position: absolute;
  z-index: 1;
  position: absolute;
}
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}
#notification_li{position:relative}

#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: -230px;
margin-left: -50px;
width: 430px;
z-index: -1;
display: none;
}
#notificationContainer:before {
content: 'd';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 98px;
 position: absolute;
  z-index: 1;
}
.notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 384px;
border-bottom: 1px solid #dddddd;

}
#notificationsBody {
padding: 20px /* droite */-120px  20px /* gauche */2px !important; 
max-height: 400px;
max-width:170%;
text-align:left;	
	
										  
}
#notificationFooter {
background-color: white;
text-align: center;
font-weight: bold;
padding: 18px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 11px;
border-radius: 9px;
position: absolute;
margin-top:-300px;
font-size: 11px;
}