header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{/* padding: 0px 10px 0px 4px !important; */
max-height: 400px;
width:82%;
	margin-left: 10px;
	float: left;
	background: #F5F5F5;
	overflow-y: auto;
	background-color: white;
	
		/* height: 600px;
	width: 465px; */
	/* margin-bottom: 25px; */
}

.force-overflow
{
	
	width:399px;
	max-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}



/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}

