.scrollbar2
{/* padding: 0px 10px 0px 4px !important; */
max-height: 400px;
width:123%;
	margin-left: -45px;
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;

}

.force-overflow2
{
	text-align:left;
	width:599px;
	max-height: 400px;
	
	border-radius:10px;
}

#wrapper2
{
	text-align: center;
	width: 500px;
	margin: auto;
}



/*
 *  STYLE 11
 */

#style-112::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-112::-webkit-scrollbar
{
	width:15px;
	background-color: #F5F5F5;
}

#style-112::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}
